* {
    font-family: sans-serif;
    box-sizing: border-box;
  }

header {
    background-color: rgb(171, 171, 159);
    color: black;
    text-align: center;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0% 3% 0% 3%;
}

header a:hover {
    background-color: rgb(154, 149, 149);
    text-decoration:overline ;
}

.form {
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

form div {
    margin-bottom: 20px;
}

#postBody {
    height: 150px;
    font-size: 16px;
    padding: 10px;
}

div label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
button:hover {
    background-color: green;
    color: white;
}

button {
    transition: background-color 0.3s ease;
}

div > textarea {
    margin-bottom: 20px;
}

textarea + input {
    margin-top: 10px;
}

div ~ * {
    background-color: rgba(240, 240, 240, 0.5);
    padding: 5px;
}

@media (max-width: 800px) {
    header {
        flex-direction: column;
        align-items: center;
    }
    
    .form {
        flex-direction: column;
        align-items: center;
        margin: 0%;
    }
    
    button {
        width: 100%;
    }
}
#Profile_info{ 
    width: 50px;
    height: 50px;
    background-image: url("icons/me.png");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.profile-panel {
    display: none; /* Hidden by default */
    position: absolute;
    top: 110px; /* Below the profile image */
    right: 10px;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    z-index: 1000;
}
.profile-panel h3 {
    margin: 0;
    font-size: 18px;
}

.profile-panel p {
    margin: 5px 0;
    font-size: 14px;
}
.profile-panel a {
    margin: 5px 0;
    font-size: 14px;
    color: black;
}