header{
    background-color: rgb(171, 171, 159);
    color: black;
    text-align: center;
    font-size: larger;
    display: flex;
    align-items: center; /* Vertically centers the content */
    justify-content: space-between; /* Horizontally centers the content */
    height: 100px;
    padding: 0% 3% 0% 3%;
}
header img {
    align-content: end;
}
header a {
    color: black;
    font-size: large;
}
header a:hover {
    background-color: rgb(154, 149, 149);
    text-decoration:overline ;
}
footer {
    background-color: rgb(141, 136, 136);
    font-size: large;
    padding: 5px;
}

.box
{
    margin: 1%;
    display: flex;
    flex-direction: row;
    align-self: flex-start; 
    justify-content: space-between;
    

}
.vasak{
    text-align: center;
    background-color: rgb(64, 92, 92);
    width: 20%;
}
.keskmine{
    background-color: rgb(80, 78, 67);
    width: 55%;
    display: flex;
    flex-direction: column;
}
.parem{
    text-align: center;
    background-color: rgb(64, 92, 92);
    width: 20%;
}
.post{
    border: 3px solid black;
    padding: 2%;
    background-color: white;
    margin-bottom: 2%;

}
.post > p~p::first-letter{
    font-size: larger;
    font-weight:bold;
    color: red;
}
.post:hover {
    margin:  1%;
  }
.postheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.postheader img {
    width: 7%;
}


.post > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.reaktsioon{
    display: flex;
    flex-direction: row;
   
}
.reaktsioon > img{
    width: 5%;
}
@media (max-width: 800px) {
    .box{
        flex-direction: column;
        align-items: center;
        margin: 0%;
    }
    .box > section{
        width: 95%;
    }

}